<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../utils/head') %>
  <%- include('../utils/styles') %>
  <title>GusEngers | Sobre Mí</title>
</head>
<body>
  <%# -- Global Navbar -- %>
  <%- include('../components/navbar') %>

  <%# -- Main About Me -- %>
  <main class="project-main">
    <section>
      <h1>Soy Gustavo Engers</h1>
      <p>Full-Stack Developer con especialización en desarrollo Back-End, enfocado en la construcción de API web siguiendo los estándares de arquitectura RESTful y usando como stack tecnológico principal a Node.js como entorno de ejecución de Javascript, Express como framework para un desarrollo ágil de API web y MongoDB como Base de Datos. Competente para desarrollo de interfaces de usuario, con React o Angular para renderizados desde el lado del cliente y EJS para renderizados desde el servidor. Con influencia, adaptabilidad, resolución de problemas y responsabilidad.</p>
      <a href="/public/cv.pdf" target="_blank" rel="noopener noreferrer">Descargar CV</a>
    </section>
    <section>
      <h2>Tecnologías</h2>
    </section>
  </main>

  <%# -- Global Footer -- %>
  <%- include('../components/footer') %>

  <%# -- Global Scripts -- %>
  <%- include('../utils/scripts') %>
</body>
</html>