<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../utils/head') %>
  <%- include('../utils/styles') %>
  <title>GusEngers | Desarrollador Web</title>
</head>
<body>
  <%# -- Global Navbar -- %>
  <%- include('../components/navbar') %>

  <%# -- Main Home -- %>
  
  <main class="home-main">
    <h1>Gustavo Engers</h1>
    <h2>Desarrollador Web</h2>
    <div class="home-main-div">
      <% for(let tech of techs) { %>
        <iconify-icon
          title="<%= tech.name %>"
          icon="<%= tech.icon %>"
          class="home-main-div-icon">
        </iconify-icon>
      <% } %>
    </div>
    <a
      title="Ver mis proyectos"
      href="/proyectos"
      type="button"
      class="home-main-button"
    >Mis Proyectos</a>
  </main>

  <%# -- Global Footer -- %>
  <%- include('../components/footer') %>

  <%# -- Global Scripts -- %>
  <%- include('../utils/scripts') %>
</body>
</html>