<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../utils/head') %>
    <%- include('../utils/styles') %>
    <title>GusEngers | Desarrollador Web</title>
  </head>
  <body>
    <%# -- Global Navbar -- %>
    <%- include('../components/navbar', {filter: false}) %>

    <%# -- Main Not Found -- %>
    <main id="not-found-main">
      <section>
        <%- include('../components/section-projects-not-found', {message: "404 - Esta página no existe"}) %>
      </section>
    </main>

    <%# -- Global Footer -- %>
    <%- include('../components/footer') %>

    <%# -- Global Scripts -- %>
    <%- include('../utils/scripts') %>
  </body>
</html>
