<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../utils/head') %>
  <%- include('../utils/styles') %>
  <title>GusEngers | Proyectos</title>
</head>
<body>
  <%# -- Global Navbar -- %>
  <%- include('../components/navbar', {filter: true}) %>

  <%# -- Main Projects -- %>
  <main id="projects-main">
    <section id="projects-section">
      <% if (projects.length) { %>
        <h1>Estas viendo <%= title %></h1>
        <% for(let project of projects) { %>
          <%- include('../components/card', {id: project._id, image: project.avatar.path, name: project.name, description: project.description, github: project.github, deploy: project.deploy, docs: project.docs}) %>
        <% } %>
      <% } else { %>
        <h1>¡Lo siento!</h1>
        <p id="not-projects-subtitle">¡Esta sección está vacía!</p>
        <p id="not-projects-info">Explora otras opciones:</p>
        <a
          title="Ir a Inicio"
          href="/"
          type="button"
          class="big-button"
        >Inicio</a>
        <a
          title="Ir a Proyectos"
          href="/proyectos"
          type="button"
          class="big-button"
        >Proyectos</a>
        <a
          title="Ir a Sobre Mí"
          href="/sobre_mi"
          type="button"
          class="big-button"
        >Sobre Mí</a>
        <a
          title="Ir a Contacto"
          href="/contacto"
          type="button"
          class="big-button"
        >Contacto</a>
      <% } %>
    </section>
  </main>

  <%# -- Global Footer -- %>
  <%- include('../components/footer') %>

  <%# -- Global Scripts -- %>
  <%- include('../utils/scripts') %>
</body>
</html>