<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../utils/head') %>
  <%- include('../utils/styles') %>
  <title>GusEngers | Proyectos</title>
</head>
<body>
  <%# -- Global Navbar -- %>
  <%- include('../components/navbar', {filter: true}) %>

  <%# -- Main Projects -- %>
  <main class="projects-main">
    <h1>Estas viendo <%= title %></h1>

    <section class="projects-section">
      <% if (projects) { %>
        <% for(let project of projects) { %>
          <%- include('../components/card', {id: project._id, image: project.avatar.path, name: project.name, description: project.description, github: project.github, deploy: project.deploy, docs: project.docs}) %>
        <% } %>
      <% } else { %>
        <p>¡Lo Siento! Parece que no hay este tipo de proyectos</p>
      <% } %>
    </section>
  </main>

  <%# -- Global Footer -- %>
  <%- include('../components/footer') %>

  <%# -- Global Scripts -- %>
  <%- include('../utils/scripts') %>
</body>
</html>