<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('__components/global-head', { title: 'GusEngers - Portfolio' })
    %>
    <link rel="stylesheet" href="/public/css/home.css" />
  </head>
  <body>
    <%- include('__components/nav-bar') %>

    <main class="main">
      <section class="info-container">
        <h1>Gustavo Engers</h1>
        <p class="background">Desarrollador Web Full-Stack</p>
        <h2>¡Bienvenidos a mi Portfolio!</h2>
        <p>
          Hola soy <b>Gustavo Engers</b>, un Desarrollador Web especializado en el Desarrollo Back-End con Node y Express, además de un entusiasta del Desarrollo Front-End con Angular. Mi pasión por la programación me impulsa a seguir aprendiendo y creciendo. ¡Disfruta mis proyectos!
        </p>

        <% if (!!techs.length) { %>
        <div class="techs-section">
          <% for( let tech of techs ) { %>
          <iconify-icon
            icon="<%= tech.icon %>"
            width="25"
            title="<%= tech.name %>"
            class="icon-home"
          ></iconify-icon>

          <% } %>
        </div>
        <% } %>
      </section>

      <section class="project-container">
        <h2>Proyecto Destacado</h2>

        <%- include('__components/card', { avatar: project.avatar.path, name:
        project.name, description: project.description, id: project._id, github:
        project.github, deploy: project.deploy, docs: project.docs }) %>

        <a href="/proyectos" class="btn">Más Proyectos</a>
      </section>
    </main>

    <!-- Scripts -->
    <%- include('__components/global-scripts') %>
  </body>
</html>
