<article class="project-card">
  <img src="<%= image %>" alt="<%= name %>" loading="lazy">
  <h3><%= name %></h3>
  <p><%= description %></p>

  <a
    class="more-button"
    title="Más información del proyecto"
    href="/proyecto/<%= id %>"
  >Más Información</a>

  <a
    title="Ver repositorio del proyecto"
    href="<%= github %>"
    target="_blank"
    rel="noopener noreferrer"
    class="project-icon-1"
  >
    <iconify-icon icon="mdi:github"></iconify-icon>
  </a>

  <% if (deploy) { %>
    <a
      title="Ver sitio web del proyecto"
      href="<%= deploy %>"
      target="_blank"
      rel="noopener noreferrer"
      class="project-icon-2"
    >
      <iconify-icon icon="mdi:web"></iconify-icon>
    </a>
  <% } %>

  <% if (docs) { %>
    <a
      title="Ver documentación del proyecto"
      href="<%= docs %>"
      target="_blank"
      rel="noopener noreferrer"
      class="project-icon-3"
    >
      <iconify-icon icon="iconoir:google-docs"></iconify-icon>
    </a>
  <% } %>

</article>
